/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








html, body {
	box-sizing: border-box;
}

@media (max-width: 800px){
	body{
		max-width: 800px;
	} 
}

@media(max-width: 600px){
	body{
		max-width: 500px;
	}
}



.navigation{
	margin: 1rem;
	height: 5rem;
}

@media (max-width: 800px){
	.navigation{
		height: 5rem;
		width: 100%;
		margin: 0;
		background-color: black;
	}
}



.linkBar{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}



a{
	text-decoration: none;
	color: blanchedalmond;
	font-size: 3rem;
	background-color: transparent;
}

@media (max-width: 800px){
	a{
		font-size: 2rem;
	}
}



.info-page{
	margin: 15% auto;
	background-color: beige;
	width: 60rem;
	height: 30rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 40%;
}

@media (max-width: 800px){
	.info-page{
		width: 100%;
	}
}



.login-info{
	display: flex;
	flex-direction: column;
	width: 35%;
}



.info-page p{
	font-family: cursive;
	font-size: 1.2rem;
	margin: 1.5rem;
	padding-bottom: .5rem;
	width: 100%;
	border-bottom: 2px dashed rgba(231, 148, 39, 0.363);
}



footer p{
	display: flex;
	margin-top: 15rem; 
	align-content: flex-end;
	color: white;
	background-color: black;
}



.info-page h2{
	padding: 1rem;
	background: darkslategray;
	color: white;
	border-radius: 38.5%;
	font-size: 1.5rem;
	border: .5rem yellowgreen;
  border-top-style: groove;
  border-left-style: none;
  border-right-style: none;
	border-bottom-style: groove;
}



.access-text{
	display: flex;
	flex-direction: column;
	align-items: center;
}



input{
	margin: .5rem;
}



.signup-info{
	display: flex;
	flex-direction: column;
	width: 35%;
}



.inner-body{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}



.middle-chunk{
	max-width: 700px;
	margin: 8rem 0;
	padding: 6rem;
	border-radius: 20%;
	background: white;
}



.side-words{
	margin-top: 25rem;
	display: flex;
	justify-content: center;
	height: 2rem;
	width: 30%;
	background-color: black;
}



.about-us{
	color: white;
	font-size: 2rem;
}



.logo-photo{
	width: 80%;
}


